<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style.css">
    <title>Contato</title>
</head>
<body class="contato">
    <img src="../static/public/logo.png" alt="logo da UNES" id="logo">
    <div id="links">
        <a href="/">Home</a>
        <a href="/quem-somos">Quem Somos</a>
        <a href="/contato">Contato</a>
    </div>
    <h1>Entre em contato</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim voluptate consequuntur dolores totam. Voluptatum ipsa, perspiciatis repudiandae accusamus excepturi modi, aut est laudantium inventore facere iusto? Doloremque earum eius amet.</p>
    <hr>
    <form action="">
        <label for="email">Seu email:</label><br>
        <input type="text"><br>
        <label for="name">Seu nome:</label><br>
        <input type="text"><br>
        <label for="desc">Descrição:</label><br>
        <textarea name="" id="" cols="15" rows="3"></textarea><br>
        <input type="submit" >
    </form>
    <p id="direitos">Todos os direitos reservados</p>
</body>
</html>